*, html, *:before, *:after {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  background-color: #fff;
  width: 100%;
  height: 100vh;
}

.nav_bar {
  background-color: #f5f5f5;
  width: 100%;
  height: 70px;
  line-height: 70px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav_bar .nav_bar_block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 180px 0 180px;
}

.nav_bar .nav_bar_block img {
  width: 120px;
  height: auto;
  margin-right: 90px;
}

.nav_bar .nav_bar_block .nav_group_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_bar .nav_bar_block .nav_group_item .item_nav {
  margin-left: 40px;
  font-size: 1.3rem;
  color: #1789CF;
  list-style-type: none;
}

.nav_bar .nav_bar_block .nav_group_item .item_nav a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav_bar .nav_bar_block .nav_group_item .item_nav a:hover {
  color: #444444;
}

.nav_bar .nav_bar_block .nav_group_item .tem_color_dark {
  color: #444444;
}

.header_box {
  width: 100%;
  height: auto;
  max-height: 500px;
}

.header_box img {
  width: 100%;
}

.main_contenu {
  width: 100%;
  margin-top: 30px;
}

.main_contenu .apropos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
}

.main_contenu .apropos .block_img {
  width: 450px;
  margin-right: 30px;
}

.main_contenu .apropos .block_img img {
  width: 100%;
  -webkit-box-shadow: 0px 0px 1px #444444;
          box-shadow: 0px 0px 1px #444444;
}

.main_contenu .apropos .block_text {
  width: 600px;
  height: auto;
  line-height: 45px;
  font-size: 1.5rem;
  padding-top: 20px;
}

.main_contenu .apropos .block_text .block_text_title {
  font-size: 2rem;
  font-weight: 400;
}

.main_contenu .apropos .block_text .block_text_title span {
  font-size: 2rem;
  font-weight: 400;
  border-bottom: #000 solid 2px;
}

.main_contenu .block_article_img {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_contenu .block_article_img .article_block {
  width: 1064px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 3px;
  background-color: #0F6FA9;
}

.main_contenu .block_article_img .article_block .article_text, .main_contenu .block_article_img .article_block img {
  width: 266px;
  padding: 20px;
  color: #fff;
}

.main_contenu .block_article_img .article_block img {
  padding: 0;
}

@media (max-width: 1073px) {
  .nav_bar_block {
    width: 100%;
    font-size: 30px;
  }
  .apropos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .article_block {
    width: 100%;
    display: block;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .article_block div {
    width: 100%;
  }
  .article_block div img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */