// les variables de style
$bleu_leger : #1789CF;
$bleu_fonce : #0F6FA9;
$black : #000;
$black_leger : #444444;
$white : #fff;


// les mixins de style
@mixin box-shadow($color) {
  box-shadow: 0px 0px 5px $color;
}
@mixin list-style-type() {
  list-style-type: none;
}
@mixin lien_text_decoration() {
  text-decoration: none;
}
// les code general

*, html, *:before, *:after {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $black;
  background-color: $white;
  width: 100%;
  height: 100vh;
}

// navbar

.nav_bar {
  background-color: #f5f5f5;
  width: 100%;
  height: 70px;
  line-height: 70px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  .nav_bar_block {
    width: 90%;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    // le logo
    img{
        width: 120px;
        height: auto;
        margin-right: 90px;
    }
    .nav_group_item {
        display: flex;

        .item_nav {
            margin-left: 40px;
            font-size: 1.3rem;
            color: $bleu_leger;
            @include list-style-type();

            a {
                color: inherit;
                @include lien_text_decoration();
                transition: all 0.3s;
                &:hover {
                    color: $black_leger;
                }
            }

        }
        .tem_color_dark  {
            color: $black_leger;
        }
        
    }
  }
}

// la partie header
.header_box {
    width: 100%;
    height: auto;
    max-height: 500px;
    // margin-bottom: 100px;
    img {
        width: 100%;
    }

}

.main_contenu {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  .apropos {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    font-size: 1rem;

    .block_img {
      width: 450px;
      margin-right: 30px;
      img {
        width: 100%;
      }
    }

    .block_text {
      width: 600px;
      height: auto;
      line-height: 45px;
      font-size: 1.5rem
    }
  }

}


// les responsive
@media (max-width: 955px) {
  .apropos {
    flex-wrap: wrap;
    
  }
}

